*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Sensitive configuration files
**/GoogleService-Info.plist
**/google-services.json
**/Constants.kt
**/Info.plist

# Firebase
.firebase/
**/GoogleService-Info.plist
**/google-services.json

# iOS
*.xcuserstate
*.xcworkspace/xcuserdata/