<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.693128464229-u42qvu8jh5h98jtrbibnf3auqqisvcls</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>693128464229-u42qvu8jh5h98jtrbibnf3auqqisvcls.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>693128464229-91klpssfh4adbth9bo5ajbmmkukf71ar.apps.googleusercontent.com</string>
</dict>
</plist>
